repository:
  default_branch: main
  allow_merge_commit: false
  allow_squash_merge: true
  allow_rebase_merge: true
  allow_auto_merge: true
  delete_branch_on_merge: true
branches:
  - name: main
    protection:
      required_status_checks: null
      enforce_admins: false
      required_pull_request_reviews: null
      restrictions: null
